---
import { Image } from 'astro:assets';

interface Props {
  linkText: string;
  imageOne:string;
  imageTwo:string;
}
const { linkText, imageOne, imageTwo } = Astro.props;
---

<section class="py-12">
  <div class="grid grid-cols-2 p-4">
    <div>
      <h1 class="text-white text-5xl italic max-w-xs yellowText pb-8">About Our Company</h1>
      <p class="text-white max-w-sm">
        We are more than just a transportation service; we are a powerhouse of logistics, proudly rooted in Madill, Oklahoma, with a reach that spans the globe. As a locally invested, globally connected trucking company, we bring unmatched expertise and dedication to every haul. Whether it's a small local delivery or a massive cross-country shipment, we have the capability and commitment to move anything you need, safely and efficiently. Our fleet is equipped with state-of-the-art technology, and our team is driven by a passion for excellence, ensuring your cargo reaches its destination on time, every time. At Star 32 Inc Trucking, we don't just transport goods—we deliver trust, reliability, and peace of mind..
      </p>
      <p class="text-white mt-8 underline">
        
      </p>
    </div>
    <div class="grid grid-cols-2">
        <Image src={'/images/'+imageOne} 
        width={600} 
        height={600/1.5} 
        alt="Gym Instructor" 
        class="rounded-md object-cover w-48"/>
        <Image src={'/images/'+imageTwo}
         width={600} height={600/1.5} alt="Boxing Instructor" class="rounded-md object-cover w-48 pt-8"/>
    </div>
  </div>
</section>
