---
import ImageCard from "./ImageCard.astro";
const offers = [
    {
        imageURL:"Freight.jpg",
        offerText:"Freight Transportation"
    },
    {
        imageURL:"Specialized.jpg",
        offerText:"Specialized Hauling"
    },
    {
        imageURL:"Logistics.jpg",
        offerText:"Logistics Solutions"
    }
]
---


<section class="py-12 text-center">
<h1 class="yellowText text-5xl italic uppercase">What we offer</h1>
<p class="text-white">Delivering your cargo anywhere, anytime—safely, swiftly, and seamlessly.</p>
<div class="grid grid-cols-1 md:grid-cols-3">
{
    offers.map((offer)=>(
        <ImageCard imageURL={offer.imageURL} text={offer.offerText} />
    ))
}

</div>
</section>