---
import { date } from "astro/zod";

const testimonials = [
  {
    profileURL: "s32test1.jpg",
    author: "ZK Trucking LLC",
    quote:
      "Another great load for Star 32 INC Trucking. .....................................................Multiple C&M truck beds headed out! ",
  },
  {
    profileURL: "s32test2.jpg",
    author: "Dallas The Trailer Guy",
  
    quote:
      "Thank you Star 32 INC Trucking for the quick response on getting a truck to the store to deliver this landscape to my customer in KC!",
  },
  {
    profileURL: "s32test3.jpg",
    author: "Madill AnimalShelter",
    
    quote:
      "Thank you Star 32 INC Trucking for the literal 100's of cases of dog treats! The babies LOVE duck jerky and it's very expensive but oh so good!",
  },
];
---
<section class="py-12">
  <h1 class="yellowText text-5xl italic uppercase text-center">Testimonials</h1>
  <div class="grid grid-cols-1 md:grid-cols-3">
    {
      testimonials.map((profile)=>(
        <div class="m-4">
          <img src={'/images/'+profile.profileURL} alt="Testimonial" class="object-cover w-full h-48"/>
          <div class="yellowBG p-8">
            <p class="pb-4 font-bold">
              {profile.quote}
              </p>
              <small>{profile.author},{profile.age}</small>
            </div>
          </div>

      ))
    }
  </div>
</section>